
	 <div class="background scroll">
        <img src="/assets/background.png" alt="stars" />
    </div>



    <div class="middleground scroll">

        

         <img id="nolions" src="/assets/middleground.png" alt="mountains" usemap="#middlegroundmap"/>

         <map name="middlegroundmap">
  <area shape="rect" coords="1818,605,1872,657" target="_blank" href="https://www.youtube.com/watch?v=eJsCfadbl4M&feature=youtu.be" alt="405">
</map>



        <img id="lions" src="/assets/LIONS.png" alt="lions" />

        <img id="whokilledlayer" src="/assets/WHOKILLED.png" alt="lions" />

        <img id="whodiedlayer" src="/assets/WHODIED.png" alt="lions" />

           <img id="whomatedlayer" src="/assets/MATING.png" alt="lions" />
            <img id="inbreedinglayer" src="/assets/INBREEDING.png" alt="lions" />



       <div class="p33"> 
              <button class="pulse" id="triangle33"
            style="background-image:url(/assets/triangle_button_p33.png)"></button>

            <img  id="p33head" class="tossing" src="/assets/p33.png" alt="p33" />
            </div>



            <div class="p22"> 

            <button class="pulse" id="triangle"
            style="background-image:url(/assets/triangle_button.png)"></button>

            <img  id="p22head" class="tossing" src="/assets/p22.png" alt="p22" />

             <img  id="p22mange" class="pulse" src="/assets/p22mange.png" alt="p22mange" />


            <img  id="deer"  src="/assets/deer.png" alt="mule deer" />

            <img  id="orange"  src="/assets/orange.png" alt="orange peel"/>
            
            <img  id="citylionpic"  src="/assets/citylion.png" alt="santa monica lion"/>

            </div>

           
            
       <a id="eatdeer" target="_blank" href="http://articles.latimes.com/2013/oct/04/local/la-me-griffith-park-lion-20131005" title="Mule deer are best but raccoons will do in a pinch." class="tooltip">LOVE TO EAT</a>



            <a target="_blank" href="http://www.scpr.org/news/2014/06/04/44528/new-video-shows-health-improving-for-griffith-park" title="Hey Dudes! Quit leaving rat poison all over the place. It's killing my game." class="tooltip">
                <img  id="p22body" class="bounce" src="/assets/p22body.png" alt="p22body" />
            </a>



                
<a id="crossing" target="_blank" href="http://www.samofund.org/santa-monica-mountains-wildlife-preservation/park-connectivity-wildlife-corridor" title="I barely made it. Some humans are trying to build a wildlife crossing at Liberty Canyon. Maybe you will too?" class="tooltip">HOW CAN A LION 
    CROSS THE ROAD</a>


<a id="mailing" target="_blank" href="mailing.html" title="I'm great at email." class="tooltip">KEEP IN TOUCH</a>

<a id="manners" target="_blank" href="http://en.wikipedia.org/wiki/Leave_No_Trace" title="I hide my kills. Hide your orange peels and plastic stuff. In the trash cans." class="tooltip">BAD MANNERS</a>

<a id="poster" target="_blank" href="/assets/rat poison poster.pdf" title="Could you post this in your neighborhood?" class="tooltip">DOWNLOAD POSTER</a>

<a id="citylion" target="_blank" href="http://latimesblogs.latimes.com/lanow/2012/05/mountain-lion-killed-santa-monica.html" title="I worry about this." class="tooltip">STAY OUT OF THE CITY</a>

<a id="fourlions" target="_blank" href="https://www.youtube.com/watch?v=x3ET_hi48dc&list=UUSzr16Cz57J5kEGlXH_rOvg" title="Gotta get out of Griffith." class="tooltip">FRIENDS</a>

<a id="deadends" target="_blank" href="http://www.sciencedaily.com/releases/2014/08/140814124340.htm" title="Kind of a downer." class="tooltip">DEAD ENDS</a>


<a id="someday" target="_blank" href="http://www.sangabrielmountains.org" title="Planning my route..." class="tooltip">SOMEDAY</a>


<a id="p33link" target="_blank" href="http://www.latimes.com/local/california/la-me-puma-crossing-20150320-story.html" title="where I'll stop nobody knows" class="tooltip">P33 IS ON THE MOVE</a>



            

            </div>



            

      <div> 


            
            
            
    


       </div>

    </div>


    <div class="foreground scroll">



    
        <img id="barnowl" target="_blank" href="https://www.youtube.com/watch?v=mbi7rq-TSk8" title="Hoot." src="images/foreground.png" alt="barn owl"/>
        

        <div class="nav">
            <button class="buttons" id="showlions"
            style="background-image:url(/assets/show_me_button.png)"></button>

            <button class="buttons" id="showlionsACTIVE"
            style="background-image:url(/assets/show_me_buttonB.png)"
            >
            </button>

            <button class="buttons" id="whodied"
            style="background-image:url(/assets/who_died_button.png)"></button>

            <button class="buttons" id="whodiedACTIVE"
            style="background-image:url(/assets/who_died_buttonB.png)"
            >
            </button>


            <button class="buttons" id="whokilled"
            style="background-image:url(/assets/who_killed_button.png)"></button>

            <button class="buttons" id="whokilledACTIVE"
            style="background-image:url(/assets/who_killed_buttonB.png)"
            >
            </button>

            <button class="buttons" id="whomated"
            style="background-image:url(/assets/who_mated_button.png)"></button>

            <button class="buttons" id="whomatedACTIVE"
            style="background-image:url(/assets/who_mated_buttonB.png)"
            >
            </button>


            <button class="buttons" id="inbreeding"
            style="background-image:url(/assets/inbreeding_button.png)"></button>

            <button class="buttons" id="inbreedingACTIVE"
            style="background-image:url(/assets/inbreeding_buttonB.png)"
            >
            </button>
</div>

           


        
    </div>
   



    <script type="text/javascript">

    (function($) {
        $.jInvertScroll(['.scroll'],    // an array containing the selector(s) for the elements you want to animate
            {
            height: 7000,                   // optional: define the height the user can scroll, otherwise the overall length will be taken as scrollable height
            onScroll: function(percent) {   //optional: callback function that will be called when the user scrolls down, useful for animating other things on the page
                console.log(percent);
            }
        });
    }(jQuery));





//show and hide p22 head

    $("#p22head").hide();

$('#triangle').on('click',function(){
    $('#p22head').toggle(500);
})

//show and hide p33 head

    $("#p33head").hide();

$('#triangle33').on('click',function(){
    $('#p33head').toggle(500);
})

//show and hide p33 head

    $("#p33link").hide();

$('#triangle33').on('click',function(){
    $('#p33link').toggle(500);
})




//show and hide lions

$("#lions").hide();

$('#showlions').on('click',function(){
    $('#lions').fadeIn(500);
})

$('#showlionsACTIVE').on('click',function(){
    $('#lions').fadeOut(500);
})


$("#showlionsACTIVE").hide();

$('#showlions').on('click',function(){
    $('#showlionsACTIVE').fadeIn(1000);
        $('#showlions').fadeOut(1000);
})

$('#showlionsACTIVE').on('click',function(){
    $('#showlions').fadeIn(1000);
        $('#showlionsACTIVE').fadeOut(1000);
})

//show and hide who died

$("#whodiedlayer").hide();

$('#whodied').on('click',function(){
    $('#whodiedlayer').fadeIn(500);
})

$('#whodiedACTIVE').on('click',function(){
    $('#whodiedlayer').fadeOut(500);
})


$("#whodiedACTIVE").hide();

$('#whodied').on('click',function(){
    $('#whodiedACTIVE').fadeIn(1000);
        $('#whodied').fadeOut(1000);
})

$('#whodiedACTIVE').on('click',function(){
    $('#whodied').fadeIn(1000);
        $('#whodiedACTIVE').fadeOut(1000);
})


//show and hide who killed who

$("#whokilledlayer").hide();

$('#whokilled').on('click',function(){
    $('#whokilledlayer').fadeIn(500);
})

$('#whokilledACTIVE').on('click',function(){
    $('#whokilledlayer').fadeOut(500);
})


$("#whokilledACTIVE").hide();

$('#whokilled').on('click',function(){
    $('#whokilledACTIVE').fadeIn(1000);
        $('#whokilled').fadeOut(1000);
})

$('#whokilledACTIVE').on('click',function(){
    $('#whokilled').fadeIn(1000);
        $('#whokilledACTIVE').fadeOut(1000);
})



//show and hide who is mating


$("#whomatedlayer").hide();

$('#whomated').on('click',function(){
    $('#whomatedlayer').fadeIn(500);
})

$('#whomatedACTIVE').on('click',function(){
    $('#whomatedlayer').fadeOut(500);
})

$("#whomatedACTIVE").hide();

$('#whomated').on('click',function(){
    $('#whomatedACTIVE').fadeIn(1000);
        $('#whomated').fadeOut(1000);
})

$('#whomatedACTIVE').on('click',function(){
    $('#whomated').fadeIn(1000);
        $('#whomatedACTIVE').fadeOut(1000);
})

//show and hide who is inbreeding 


$("#inbreedinglayer").hide();

$('#inbreeding').on('click',function(){
    $('#inbreedinglayer').fadeIn(500);
})

$('#inbreedingACTIVE').on('click',function(){
    $('#inbreedinglayer').fadeOut(500);
})

$("#inbreedingACTIVE").hide();

$('#inbreeding').on('click',function(){
    $('#inbreedingACTIVE').fadeIn(1000);
        $('#inbreeding').fadeOut(1000);
})

$('#inbreedingACTIVE').on('click',function(){
    $('#inbreeding').fadeIn(1000);
        $('#inbreedingACTIVE').fadeOut(1000);
})

//toggle deer


$("#deer").hide();
$("#eatdeer").hover(
  function(){   
   $('#deer').toggle();
  } 
  
 );

//toggle orange peels

$("#orange").hide();
$("#manners").hover(
  function(){   
   $('#orange').toggle();
  } 
  
 );

//BEYOND: santa monica lion

$("#citylionpic").hide();
$("#citylion").hover(
  function(){   
   $('#citylionpic').toggle();
  } 
  
 );





//triangle scrolls then disappears

$(document).ready(function () {
  var top = $('#triangle').offset().top - parseFloat($('#triangle').css('marginTop').replace(/auto/, 0));
  $(window).scroll(function (event) {
    // what the y position of the scroll is
    var y = $(this).scrollTop();

    // whether that's below the form
    if (y >= 4500) {
      // if so, ad the fixed class
      $('#triangle').fadeOut(500);
    } else {
      // otherwise remove it
      $('#triangle').show();
    }
  });
});

$(document).ready(function () {
  var top = $('#p22head').offset().top - parseFloat($('#triangle').css('marginTop').replace(/auto/, 0));
  $(window).scroll(function (event) {
    // what the y position of the scroll is
    var y = $(this).scrollTop();

    // whether that's below the form
    if (y >= 4500) {
      // if so, ad the fixed class
      $("#p22head").fadeOut(500);
      $('#p22body').show();
    } else {
      // otherwise remove it
      
      $('#p22body').fadeOut();
    }
  });
});

//show mange head
$("#p22mange").hide();
$("#p22body").hover(
  function(){   
   $('#p22mange').toggle();
  } 
  
 );

//google analytics

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58665956-1', 'auto');
  ga('send', 'pageview');


//beyond: stories

// $('#yourModalId').modality({
//     clickOffToClose: true
// // OPTIONS
// });




    </script>